{% extends 'base.html' %}

{% block title %}
  {% if rol == "JefeBodega" or rol == "Operario" %}
    Lista de Bodegas
  {% else %}
    Acceso Restringido
  {% endif %}
{% endblock %}

{% block content %}
  {% if rol == "JefeBodega" or rol == "Operario" %}
    <h2>Inventario</h2>
    <div class="container">
      <div class="row">
        {% for producto in productos %}
          <div class="col-md-5 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.items.count }} items disponibles</p>
                <a href="#" class="btn btn-success color">Ver Ubicaciones</a>
                <a href="#" class="btn btn-secondary color">Agregar items</a>
                <a href="#" class="btn btn-secondary color">Retirar items</a>
              </div>
            </div>
          </div>
        {% endfor %} 
      </div>
    </div>
  {% else %}
    {% include 'acceso_denegado.html' with mensaje="Solo los Jefes de Bodega y Operarios pueden ver las bodegas." mostrar_boton_inicio=True %}
  {% endif %}
{% endblock %}