services:

  mongodb_audit:
    image: mongo:latest
    container_name: mongodb_audit
    command: mongod --port 27018
    ports:
      - '27018:27018'
    volumes:
      - mongo-data:/data/db/auditoria

  audit:
    build: .
    container_name: audit
    ports:
      - "8001:8000"
    volumes:
      - ./:/app
    environment:
      AUTHZ_DOMAIN: ${AUTHZ_DOMAIN}
      AUTHZ_AUDIENCE: ${AUTHZ_AUDIENCE}
      CLIENT_ID: ${CLIENT_ID}
    command: "fastapi dev main.py --host 0.0.0.0 --port 8000"
    depends_on:
      - mongodb_audit

volumes:
  mongo-data: {}
