services:

  mongodb_audit:
    image: mongo:latest
    container_name: mongodb_audit
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
    - audit-net

  audit:
    build: .
    container_name: audit
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    command: "fastapi dev main.py --host 0.0.0.0 --port 8000"
    depends_on:
      - mongodb_audit
    networks:
    - audit-net

volumes:
  mongo-data: {}