services:
  postgres_pedidos:
    image: postgres:16
    environment:
      POSTGRES_DB: pedidos_db
      POSTGRES_USER: pedidos_user
      POSTGRES_PASSWORD: pedidos_pass
      PGPORT: 5433
    ports:
      - "5433:5433"
    volumes:
      - postgres_pedidos_data:/var/lib/postgresql/data

  pedidos:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8080"
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    depends_on:
      - postgres_pedidos
    environment:
      - DJANGO_DB_HOST=${DJANGO_DB_HOST}
      - DJANGO_DB_NAME=${DJANGO_DB_NAME}
      - DJANGO_DB_USER=${DJANGO_DB_USER}
      - DJANGO_DB_PASSWORD=${DJANGO_DB_PASSWORD}
      - ALERT_EMAIL=${ALERT_EMAIL}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS}
      - DEFAULT_FROM_EMAIL=${DEFAULT_FROM_EMAIL}
      - KONG_ADMIN_URL=${KONG_ADMIN_URL}
      - AUTHZ_DOMAIN=${AUTHZ_DOMAIN}
      - AUTHZ_AUDIENCE=${AUTHZ_AUDIENCE}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - INTEGRITY_KEY=${INTEGRITY_KEY}
      - RECALCULAR_HASH=${RECALCULAR_HASH}
    env_file:
      - ../.env

volumes:
  postgres_pedidos_data:
