services:
  postgres_usuarios:
    image: postgres:16
    environment:
      POSTGRES_DB: usuarios_db
      POSTGRES_USER: usuarios_user
      POSTGRES_PASSWORD: usuarios_pass
      PGPORT: 5434
    ports:
      - "5434:5434"
    volumes:
      - postgres_usuarios_data:/var/lib/postgresql/data

  usuarios:
    build: .
    command: sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8081"
    volumes:
      - .:/app
    ports:
      - "8081:8081"
    depends_on:
      - postgres_usuarios
    environment:
      - DJANGO_DB_HOST=${DJANGO_DB_HOST}
      - DJANGO_DB_NAME=${DJANGO_DB_NAME}
      - DJANGO_DB_USER=${DJANGO_DB_USER}
      - DJANGO_DB_PASSWORD=${DJANGO_DB_PASSWORD}
      - ALERT_EMAIL=${ALERT_EMAIL}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS}
      - DEFAULT_FROM_EMAIL=${DEFAULT_FROM_EMAIL}
      - KONG_ADMIN_URL=${KONG_ADMIN_URL}
      - AUTHZ_DOMAIN=${AUTHZ_DOMAIN}
      - AUTHZ_AUDIENCE=${AUTHZ_AUDIENCE}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - INTEGRITY_KEY=${INTEGRITY_KEY}
      - RECALCULAR_HASH=${RECALCULAR_HASH}
    env_file:
      - ../.env

volumes:
  postgres_usuarios_data:
