{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow">
            <div class="card-header text-center bg-success text-white">
                <h4 class="mb-0">Crear Usuario</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Crear Usuario</button>
                        <button type="button" class="btn btn-outline-secondary" onClick="window.location.href='/'">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}